/************************/
/* GENERAL STYLES */
/************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat";
  background-color: #f2ebe3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  max-width: 80rem;
  display: flex;
  border-radius: 1rem;
}

/************************/
/* IMAGE STYLES */
/************************/

.product-img-box {
  flex: 1;
}

.product-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

/************************/
/* PRODUCT INFO STYLES */
/************************/
.product-info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.product-title {
  font-family: "Fraunces";
  font-size: 4.4rem;
}

.subheading {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.6rem;
  color: #6c7289;
  font-weight: 500;
}

.product-description {
  font-size: 2rem;
  color: #6c7289;
  line-height: 1.5;
}

.price-overall {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.final-price {
  font-family: "Fraunces";
  color: #3c8067;
  font-size: 3.6rem;
  font-weight: 700;
}

.price {
  font-size: 1.8rem;
  text-decoration: line-through;
  color: #6c7289;
  font-weight: 500;
}

.btn {
  font-family: "Montserrat";
  font-size: 1.8rem;
  color: white;
  background-color: #3c8067;
  width: 100%;
  border: 0;
  padding: 1.8rem 3.6rem;
  border-radius: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.btn:hover {
  background-color: #2a5a48;
  cursor: pointer;
}
