/* 1200px */
@media (max-width: 75em) {
  html {
    font-size: 55%;
  }
}

/* 992px */
@media (max-width: 62em) {
  html {
    font-size: 48%;
  }
}

/* 768px */
@media (max-width: 48em) {
  .faq__card {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

/* 480px */
@media (max-width: 30em) {
  html {
    font-size: 40%;
  }
}
