/********************/
/** GENERAL STYLES **/
/********************/

@font-face {
  font-family: "WorkSans";
  src: url(../assets/fonts/work_sans.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "WorkSans";
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: #f9f0ff;
  background-image: url("../assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**********************/
/** Accordion STYLES **/
/**********************/

.faq__card {
  background-color: #ffffff;
  max-width: 62rem;
  max-height: 63rem;
  border-radius: 1.5rem;
}

.faq__container {
  margin: 4.8rem;
  max-height: 100%;
}

/****************************/
/** Accordion title STYLES **/
/****************************/

.faq__title__section {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.faq__title {
  font-size: 6.2rem;
}

/****************************/
/** Accordion body STYLES ***/
/****************************/

.faq__body__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 10%;
}

/****************************/
/** Accordion item STYLES ***/
/****************************/

.faq__item__title__section {
  display: flex;
  justify-content: space-between;
}

.faq__item__title {
  font-size: 1.8rem;
  font-weight: 550;
  margin-bottom: 1.6rem;
}

.faq__item__description {
  color: hsl(292, 42%, 14%);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4;
  overflow-y: auto;
  max-height: 13rem;
  transition: 0.3s;
}

.faq__item:not(:last-child) {
  margin-bottom: 1.8rem;
  padding-bottom: 1.8rem;
  border-bottom: 2px solid #f9f0ff;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  max-height: 0;
}
